@import url("https://use.typekit.net/tjw7clx.css");
@import url("https://use.typekit.net/lhr5qpe.css");

body{
  background-image: linear-gradient(to right, #ffffff, #340ec9);
  margin:0;
  padding:0;
}

/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(94, 145, 220);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(135, 237, 255);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 64px;
  padding: 0;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 215, 222);
}
.envelope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  font-family: "grandma", sans-serif;
}
.env-bear-wrapper {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 0;
  width: 100%;   
  padding-left: 0;              
  margin-top: 40px;
}

.backdrop img {
  width: 280px;
  height: auto;
  padding:0;
  margin:0;
}


/* Envelope body */
.envelope {
  position: relative;
  width: 400px;
  height: 280px;
  background: #3b9dee;
  border: 2px solid #0d5a8a;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 20px#22236c;
  margin-left: 90px;
}

.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #0186ec;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: top;
  transition: transform 0.6s ease;
}

/* Letter */
.letter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: rgb(249, 245, 226);
  padding: 15px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.6s ease 0.2s;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.controls {
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  margin: 0 8px;
  border: none;
  border-radius: 6px;
  background: #69a2ed;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  color: #fff;
}

.controls button:hover {
  background: #69a2ed;
}

.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  transform: translateY(0);
}
.backdrop img{
  position:relative;
  height:auto;
  width:300px;
  margin: 0;
  padding:0;
}

@media (min-width: 1024px) {
  .envelope {
    margin-left: 250px; 
  }
  .controls {
    margin-left: 250px;
  }
}