@import url("https://use.typekit.net/tjw7clx.css");
@import url("https://use.typekit.net/lhr5qpe.css");

body{
  background-image: linear-gradient(to right, #ffffff, #ffd9f6);
  margin:0;
  padding:0;
}

/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 244, 223);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*  Buttons (Back / Next / AhBeiBei) */
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(255, 215, 222);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 64px;
  padding: 0;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 215, 222);
}
.envelope-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-family: "grandma", sans-serif;
  font-weight: 20px;
}

/* Envelope body */
.envelope {
  position: relative;
  width: 400px;
  height: 280px;
  background: #ffb9ee;
  border: 2px solid #ffb5e2;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 20px#dba5fe;
}

.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #f793de;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: top;
  transition: transform 0.6s ease;
}

/* Letter */
.letter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: rgb(249, 245, 226);
  padding: 15px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.6s ease 0.2s;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* Controls */
.controls {
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  margin: 0 8px;
  border: none;
  border-radius: 6px;
  background: #ffb3c6;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  color: #fff;
}

.controls button:hover {
  background: #ff8aa3;
}

.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  transform: translateY(0);
}
