 @import url("https://use.typekit.net/tjw7clx.css");
 @import url("https://use.typekit.net/tjw7clx.css");
body{
  background-image: linear-gradient(to right, #1e7de9, #ff60f2);
}
.icon{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.top-header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 247, 173);
  height: 100px;
  margin: 10px 1px;
  padding: 15px 15px;
  border-radius: 30px;
}
.AhBeiBei{
  font-family: "coquette-bold","giulia", sans-serif;
  font-weight:900px;
  color: rgb(16, 16, 16);
  font-style: normal; 
  text-align: center;
  font-size: 70px;
  word-spacing: 600px;
  padding:1px;
}
.AhBeiBei:hover{background-color:#ffc4c4;}
.back{
  font-family: "meursault-variable",sans-serif;
  font-size:30px;
  margin: 20px;
  font-style: normal;
  background:rgb(255, 161, 177);
  border-radius:20px;
  padding: 6px;
}
.back:hover {background-color: #ffc4c4}
.next{
  font-family: "meursault-variable",sans-serif;
  font-size:30px;
  margin:20px auto;
  font-style: normal;
  background:rgb(255, 161, 177);
  border-radius:20px;
  padding: 6px;
}
.next:hover {background-color: #ffc4c4}
.table{
color:rgb(62, 72, 72);
}
.backdrop img{
  max-width: 100%;
  height:50%;
}
.table{
  display:flex;
  position:relative;
  background-color:rgb(158, 83, 25);
  max-width:80vw;
  height:100vw;
  border-radius: 40px;
  justify-content: space-around;
  right:-100px;
  top:-100px;
}
.div{
  background-color: rgb(255, 243, 196);
  width:150px;
  height:150px;
}