@import url("https://use.typekit.net/tjw7clx.css");

body{
  background-image: linear-gradient(to right, #0f2558, #f6bc33); 
  margin:0;
  padding:0;
}

/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 244, 223);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*  Buttons */
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(255, 161, 177);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(184, 165, 217);
  font-size: 64px;
  padding: 0;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 161, 177);
}

.scroll-linear{
  width:80%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color:#fff;
  font-size: 20px;
  border: 2px solid #fff;
  margin:10px;
  padding:3px 0;
  position:relative;
  margin-left: 10%;
}
.text{
  display: inline-block;
  padding-right: 100%;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}



.box{
  width:70%;
  height: auto;
  background-color: #1c1167;
  font-size: 20px;
  max-width: 650px; 
  min-height: 700px;
  padding:22px;
  margin-left: 25%;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius:16px;
  border:2px solid#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.tap-start{
  color:#fff;
  opacity: 0.5;
  text-align: center;
  position:relative;
  bottom:400px;
  left:70px;
  z-index: 2;
}
.stars{
  position: absolute;
  display:flex;
  animation: float 5s infinite linear;
  top:200px;
  left:400px;
}
.star1{
  position: absolute;
  margin-left: 2px;
  width:40px;
}
.star2{
  position: absolute;
  margin-left: 300px;
  width:50px;
}
.star3{
  position: absolute;
  margin-left: 100px;
  width:100px;
}
.star4{
  position: absolute;
  margin-left: 400px;
  width:90px;
}
.star5{
  position: absolute;
  margin-left: 250px;
  top:100px;
  width:40px;
}
.star6{
  position: absolute;
  margin-left:10px;
  width:50px;
  top:100px;
}
.s1 { top: 200px; left: 10px; animation-duration: 5s; }
.s2 { top: 260px; left: 240px; animation-duration: 7s; }
.s3 { top: 320px; left: 120px; animation-duration: 6s; }


@keyframes float {
  0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}
.ground {
  position: absolute;
  top: 700px;
  width: 45%;
  left:387px;
  height: 220px;
  background: #ffde7d;
  border-radius: 100% 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jump-btn {
  padding: 20px 40px;
  border-radius: 20px;
  background: #b7e8a0;
  border: none;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.jump-btn:hover{
  background-color: #86b471;
  transition: background-color 0.2s ease;
}
.player{
  position:relative;
  width:20%;
  bottom:-50px;
  z-index:1;
  align-items: center;
  right:50px;
}
.score-count {
    position: absolute;
    width:120px;
    height:120px;
    color:#f6bc33;
    margin-left: 100px;
    font-size: 24px;
    font-family:"coquette-bold", "giulia", sans-serif;
    text-align:center;
    border-radius: 10px;
    top:350px;
    background-color: #fff;
  }
  .sheep1{
    position: absolute;
    margin-bottom:420px; 
    margin-left: 200px;
    width: 90px;
    height: 60px;
    background: url("img/Group\ 25.svg") no-repeat center/contain;
  }
@media (max-width:420px){
  .body{
    height:auto;
    padding: 1rem 0;
  }
  .top-header{
    width:310px;
    height:100px;
  }
  .btn{
    font-size: 15px;
    padding:4px;
  }
  .btn.main{
    font-size: 50px;
  }
}
.player.jump {
  animation: jumpUp 0.6s ease-out;
}

@keyframes jumpUp {
  0% { transform: translateY(0); }
  40% { transform: translateY(-140px); }
  60% { transform: translateY(-140px); }
  100% { transform: translateY(0); }
}
