@import url("https://use.typekit.net/tjw7clx.css");

body{
  background-image: linear-gradient(to right, #0f2558, #f6bc33); 
  margin:0;
  padding:0;
}

/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 244, 223);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*  Buttons */
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(255, 161, 177);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(184, 165, 217);
  font-size: 64px;
  padding: 0;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 161, 177);
}

.scroll-linear{
  width:80%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color:#fff;
  font-size: 20px;
  border: 2px solid #fff;
  margin:10px;
  padding:3px 0;
  position:relative;
  margin-left: 10%;
}
.text{
  display: inline-block;
  padding-right: 100%;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.box{
  width:70%;
  height: auto;
  background-color: #1c1167;
  font-size: 20px;
  max-width: 650px; 
  min-height: 700px;
  padding:22px;
  margin-left: 25%;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius:16px;
  border:2px solid#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}