@import url("https://use.typekit.net/tjw7clx.css");

body{
  background-image: linear-gradient(to right, #0f2558, #f6bc33); 
  margin:0;
  padding:0;
}

/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 244, 223);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*  Buttons */
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(255, 161, 177);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(184, 165, 217);
  font-size: 64px;
  padding: 0;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 161, 177);
}

.scroll-linear{
  width:80%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color:#fff;
  font-size: 20px;
  border: 2px solid #fff;
  margin:10px;
  padding:3px 0;
  position:relative;
  margin-left: 10%;
}
.text{
  display: inline-block;
  padding-right: 100%;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.box{
  width:70%;
  height: auto;
  background-color: #1c1167;
  font-size: 20px;
  max-width: 650px; 
  min-height: 700px;
  padding:22px;
  margin-left: 25%;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius:16px;
  border:2px solid#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.tap-start{
  color:#fff;
  text-align: center;
  position:relative;
  bottom:150px;
  left:70px;
}
.stars{
  width: 30px;
  position: absolute;
  display:flex;
  animation: float 5s infinite linear;
  top:200px;
  left:400px;
}
.s1 { top: 230px; left: 20px; animation-duration: 4s; }
.s2 { top: 260px; left: 220px; animation-duration: 6s; }
.s3 { top: 310px; left: 140px; animation-duration: 5s; }


@keyframes float {
  0% { transform: translateX(0); }
  50% { transform: translateX(20px); }
  100% { transform: translateX(0); }
}
.ground {
  position: absolute;
  top: 700px;
  width: 45%;
  left:387px;
  height: 220px;
  background: #ffde7d;
  border-radius: 100% 100% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jump-btn {
  padding: 20px 40px;
  border-radius: 20px;
  background: #b7e8a0;
  border: none;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.jump-btn:hover{
  background-color: #86b471;
  transition: background-color 0.2s ease;
}
.player{
  position:relative;
  width:20%;
  bottom:-50px;
  z-index:1;
  align-items: center;
  right:50px;
}