
body{
  background-color:rgb(0, 0, 0);
  color:aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-family: monospace;
}

.intro h1{
  color: #fff;
  font-size: 15px;
  border-right:0.15em solid rgb(241, 173, 234);
  overflow: hidden; 
  white-space: nowrap; 
  width: 0; 
  animation: 
      typing 3.5s steps(40,end)forwards, 
      blink-caret 0.5s step-end infinite;
}

@keyframes typing{
  from{ width: 0;}
  to {width: 100%;}
}
@keyframes blink-caret {
  from, to {border:transparent} 
  50% { border-color: rgb(241, 173, 234); }
}

.icon {
  display: flex;
  justify-content:center;
  gap:20px;
  margin-top: 20px;
}

.icon a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: monospace;
  color: #fff;
  font-size: 18px;
  transition: 0.2s ease;
  padding: 5px 10px;
  border-radius: 8px;
}

.icon a:hover {
  background-color: #ffc4c4;
  transform: scale (1.2);
}

.icon img {
  width: 28px;
  height: auto;
}





