@import url("https://use.typekit.net/tjw7clx.css");

body{
  background-color: rgb(253, 210, 210);
}

.house img{
  position: relative;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.top-header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 244, 223);
  height: 100px;
  margin: 10px 1px;
  padding: 15px 15px;
}
.Ah{
  font-family: "coquette-bold","giulia", sans-serif;
  font-weight:900px;
  color: rgb(255, 255, 255);
  font-style: normal; 
  text-align: center;
  font-size: 70px;
  word-spacing: 600px;
  padding:0;
  border:none;
  background:none;
}
.Ah:hover{background-color:#ffc4c4;}
.back{
  font-family: "meursault-variable",sans-serif;
  font-size:30px;
  margin: 20px auto;
  font-style: normal;
  background:rgb(255, 161, 177);
  border-radius:20px;
  padding: 6px;
}
.back:hover {background-color: #ffc4c4}
.next{
font-family: "meursault-variable",sans-serif;
font-size:30px;
font-style: normal;
background:rgb(255, 161, 177);
border-radius:20px;
padding: 6px;
margin: 20px auto;
}
.next:hover {background-color: #ffc4c4}
.container{
  position:absolute;
  max-width: 100%;
  height: auto;
}
.pillow1{
  position:absolute;
  bottom:-780px;
  left:-190px;
  z-index:1;
}
.pillow2{
  position:absolute;
  bottom:-450px;
  right:-200px;
  z-index:1;
}
.pillow4{
  position:absolute;
  bottom:-1500px;
  left:-200px;
  z-index:1;
}
.pillow3{
  position: absolute;
  bottom:-1200px;
  right:-190px;
  z-index:1;
}
.poem{
  font-family: "giulia", sans-serif;
  font-weight:200px;
  color: rgb(255, 255, 255);
  font-style: normal; 
  font-size: 25px;
}

.dim{
  position:absolute;
  bottom:-400px;
  left:190px;
}
.night{
  position:absolute;
  bottom:-550px;
  left:390px;
}
.dreams{
  position:absolute;
  bottom:-600px;
  left:290px;
}
.whisper{
  position:absolute;
  bottom:-800px;
  left:190px;
}
.starry{
  position:absolute;
  bottom:-860px;
  left:100px;
}
.embrace{
  position:absolute;
  bottom:-1100px;
  left:90px;
}
.space{
  position:absolute;
  bottom:-1160px;
  left:200px;
}