@import url("https://use.typekit.net/tjw7clx.css");
@import url("https://use.typekit.net/lhr5qpe.css");

body{
  background-color:rgb(0, 0, 0);
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: rgba(249, 244, 223, 0.1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  z-index: 10;
}

.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 90px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: #ffd7de;
}
.intro{
  position:relative;
  top:300px;
  color: #fff;
  max-width: 600px;
  font-size: 15px;
  border-right:0.15em solid rgb(241, 173, 234);
  white-space: pre-wrap; 
  overflow: hidden; 
  animation: 
      typing 10s steps(100,end)forwards, 
      blink-caret 0.75s step-end infinite;
}
.intro{
  margin:0;
}

@keyframes typing{
  from{ width: 0;}
  to {width: 100%;}
}
@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: #f1adea; }
}


@media (max-width: 480px) {
  .intro {
    font-size: 16px;
    margin-top: 120px;
  }

  .btn.main {
    font-size: 32px;
  }
}