@import url("https://use.typekit.net/tjw7clx.css");

@import url("https://use.typekit.net/lhr5qpe.css");

body{
  background-image: linear-gradient(to right, #9ef0ac, #faf392); 
  margin:0;
  padding:0;
}

/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 244, 223);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*  Buttons */
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(255, 161, 177);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(158, 247, 165);
  font-size: 64px;
  padding: 0;
  transition: color 0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 161, 177);
}
.title{
  position:absolute;
  font-family: "superscore-vf", sans-serif;
  font-size:50px;
  margin-left:555px;
  padding:20px;
  justify-content: center;
  align-items: center;
}

/*photo*/
.photo{
  display: grid;
  gap:20px;
  width:80%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left:145px;
}
.squares {
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  overflow:hidden;
  width:400px;
  height:260px;
  margin:0 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.squares:hover {
  transform: scale(1.05);
}

.squares::after {
  content: attr(data-label);
  position: absolute;      /* FIXED */
  inset: 0;
  background: rgba(251, 122, 122, 0.55);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}

/* Hover effect */
.squares:hover::after {
  opacity: 1;
}

@media(max-width:420px){
  .top-header{
    width:310px;
    height:100px;
  }
  .title{
  font-size:30px;
  position: absolute;
  right:20%;
  margin-bottom: 20px;
  }
  .btn.main{
    font-size: 50px;
  }
  .btn{
    font-size: 15px;
    padding:4px;
  }
  .squares{
    width:90px;
    height:90px;
    width:85%;
    margin:10px 45px;
  }
}

