 @import url("https://use.typekit.net/tjw7clx.css");
 
body{
  background-image: linear-gradient(to right, #effac4, #1e7de9); /* Orange to pink, left to right */
}

.con img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.top-header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(214, 201, 227);
  height: 100px;
  margin: 10px 1px;
  padding: 15px 15px;
}
.Ah{
  font-family: "coquette-bold","giulia", sans-serif;
  font-weight:900px;
  color: white;
  font-style: normal; 
  text-align: center;
  font-size: 70px;
  word-spacing: 600px;
  padding:0;
  border:none;
  background:none;
}
.Ah:hover{background-color:#ffc4c4;}
.back{
font-family: "meursault-variable",sans-serif;
font-size:30px;
margin: 20px auto;
font-style: normal;
background:rgb(255, 161, 177);
border-radius:20px;
padding: 6px;
}
.back:hover {background-color: #ffc4c4}
.next{
font-family: "meursault-variable",sans-serif;
font-size:30px;
margin:20px auto;
font-style: normal;
background:rgb(255, 161, 177);
border-radius:20px;
padding: 6px;
}
.next:hover {background-color: #ffc4c4}
.bright img{
  position:absolute;
  height:250px;
  width:130px;
  position:fixed;
  bottom:260px;
  right:120px;
  z-index: 2;
}
.poem{
  font-family: "giulia", sans-serif;
  color: rgb(69, 60, 60);
  font-style: normal; 
  font-size: 25px;
}
.say{
  position:absolute;
  top:950px;
  z-index: 1;
}

.spotify-song{
  position: absolute;
  width: 40%; /* Adjust width as needed */
  margin: 20px auto; /* Center the player */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px; /* Match iframe border-radius */
  bottom:50px;
}