@import url("https://use.typekit.net/tjw7clx.css");
@import url("https://use.typekit.net/tjw7clx.css");
body {
  background-image: linear-gradient(to right, #effac4, #194c86);
  margin: 0;
  padding: 0;
  font-family: "meursault-variable", "giulia", sans-serif;
  color: rgb(69, 60, 60);
  overflow-x: hidden;
}
/*  Header  */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 244, 223);
  padding: 15px 40px;
  height: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*  Buttons  */
.btn {
  text-decoration: none;
  font-family: "meursault-variable", sans-serif;
  background: rgb(255, 161, 177);
  color: #fff;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 24px;
  transition: 0.2s ease;
  border: none;
}

.btn:hover {
  background-color: #ffc4c4;
}

/*  (AhBeiBei) */
.btn.main {
  font-family: "coquette-bold", "giulia", sans-serif;
  font-weight: 900;
  background: none;
  color: rgb(54, 82, 179);
  font-size: 64px;
  padding: 0;
  transition:  0.3s ease;
}

.btn.main:hover {
  color: rgb(255, 161, 177);
  scale:1.2;
}

/*  Main Image  */
.con img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*  Light Button */
.bright img {
  position: fixed;
  bottom: 40px;
  right: 60px;
  height: 200px;
  width: auto;
  box-shadow: rgba(245, 255, 171, 0.8) 0 0 90px 33px;
  z-index: 2;
  transition: transform 0.2s ease;
}

.bright img:hover {
  transform: scale(1.1);
}

.poem {
  display: flex;
  justify-content: center;     
  align-items: center;        
  text-align: center;
  height: 100vh;            
  font-family: "giulia", sans-serif;
  color: rgb(69, 60, 60);
  font-style: normal; 
  font-size: 40px;
}

.say {
  max-width: 800px;         
  line-height: 1.6;
}

.spotify-song, iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  width: 80%;
  max-width: 700px;
  border-radius: 12px;
}
